<center><h5><span>Donasi ID Tech Channel</span></h5></center>
<div style="text-align: center;position:center;">
<button onclick="sociabuzz('')" style="background:teal;color:white">SociaBuzz</button>
<button onclick="saweria('')" style="background:grey;color:white">Saweria</button>
<button onclick="kofi('')" style="background:darkgreen;color:white">Ko-Fi</button>
<button onclick="paypal('')" style="background:darkblue;color:white">Paypal</button>
<button onclick="shopeepay('')" style="background:orange;color:white">ShopeePay</button>
</div>
<script>
    function sociabuzz (url) {
        location.href = url;
    }
    function saweria (url) {
        location.href = url;
    }
    function kofi (url) {
        location.href = url;
    }
    function paypal (url) {
        location.href = url;
    }
    function shopeepay (url) {
        location.href = url;
    }
</script>
