/* 
Don't want to use sass and simply modify the stylesheet in the old css fashion? 
Just customize your theme here.
================================================== */

body {}
.carousel-item {
  width: 100%;
  height: 240px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-control-next {
  backgound: transparent;
}
.carousel-control-prev {
  background: transparent;
}
